{% extends 'theme/base.twig' %}

{% block page_title %}Home{% endblock page_title %}

{% block content_body %}
    <h1 class="title">Home</h1>
    {% include 'category/linkedListTop.twig' with {'categoryList': categoryList} %}
{% endblock content_body %}
