{% extends 'theme/staff/base.twig' %}

{% block page_title %}Link details{% endblock page_title %}

{% block content_body %}
<h1>Link details</h1>
<table class="table">
    <tr>
        <th class="col-xs-3">Field</th>
        <th class="col-xs-9">Value</th>
    </tr>
    {% for dbKey, dbValue in linkDetails %}
        <tr>
            <td>{{ dbKey }}</td>
            <td>{{ dbValue }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content_body %}