{% extends 'theme/staff/base.twig' %}

{% block page_title %}Link details{% endblock page_title %}

{% block content_body %}

<h1>Link details</h1>
<table cellspacing="1" cellpadding="5" border="1" style="width: 50%;">
    <tr>
        <th style="text-align: right;">Field</th>
        <th style="text-align: left;">Value</th>
    </tr>
    {% for dbKey, dbValue in linkDetails %}
        <tr>
            <td style="text-align: right;">{{ dbKey }}</td>
            <td style="text-align: left;">{{ dbValue }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content_body %}