{% if standardLinks %}
    <h2>Listings</h2>
    <div id="standard-links-wrapper">
        {% set rowNum = -1 %}
        {% for link in standardLinks %}
            {% set rowNum = rowNum + 1 %}
            {% if rowNum == 0 %}
                <div class="row">
            {% endif %}
            {% if rowNum % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
            <div class="col-xs-6 col-sm-4">
                {% include 'link/listLinkPanel.twig' with {'link': link} %}
            </div>
            {% if rowNum == standardLinks.count-1 %}
                </div>
            {% endif %}
        {% endfor %}
        {{ standardLinks.links()|raw }}
    </div>
{% endif %}