{% if featuredLinks %}
    <h2>Featured listings</h2>
    <div id="featured-links-wrapper">
        {% set rowNum = -1 %}
        {% for link in featuredLinks %}
            {% set rowNum = rowNum + 1 %}
            {% if rowNum == 0 %}
                <div class="row">
            {% endif %}
            {% if rowNum % 2 == 0 %}
                </div>
                <div class="row">
            {% endif %}
            <div class="col-xs-12 col-sm-6">
                {% include 'link/listLinkPanel.twig' with {'link': link} %}
            </div>
            {% if rowNum == featuredLinks.count-1 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}