<div class="panel">
    <div class="panel-heading">
        <strong>{{ link.TITLE }}</strong>
    </div>
    <div class="panel-body">
        {{ link.DESCRIPTION }}
    </div>
    <div class="panel-footer">
        <a href="{{ link.getDetailsUrl() }}">Details</a>
    </div>
</div>